#control_pane {
	float:left; 
	width:23%; 
	height:96%; 
	margin-right:1%;
	}
	
#editing_pane {
	float:left; 
	width:73%; 
	height:55%; 
	margin-bottom:1%;
}

#console_pane {
	float:left; 
	width:73%; 
	height:38%; 
}




