
.pop{
    position: fixed;
    height: 300px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
    border: 1px solid white;
    background: white;
    padding: 5px;
    z-index: 999;
    display: inline-block;
    display: none;


}
.form {
    margin :10px;
}

#login-form{
    /*top:50%;*/
    left:50%;
    top:0%;
    width: 40%;
    height: 90%;
    display: block;
    float: right;


}

#signup-form{
    /*top:50%;*/
    left:0%;
    top:0%;
    width: 40%;
    height: 90%;
    display: block;
    float:left;

}

.close{
    postion: absolute;
    top:0;
    color: red;
    float: right;
    font-size: 25px;
    font-weight: bold;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.alert{
    color: red;
    visibility: hidden;
}

#b-signout{
    display: none;
    padding-top: 10px;

}

#user-form{
    color:black;
    float: right;
    display: inline-block;
}

.star::after{
    content: "*";
    color:red;
}

#login-enter{
    margin:5px;
}

#signup-submit{
    margin:5px;
}
