#upload-form {
    width: 300px;
    height: 280px;
    top: 25%;
    left: 35%;
    position: relative;
    z-index:990;
    background-color: ghostwhite;
    display: none;
}

#starter-code-form1 {
    position: absolute;
    cursor: pointer;

}

#upload-position-handler1 {
   /* width: 200px;
    height: 200px;*/

    text-align: center;

}

#starter-code-form2 {
    position: absolute;
    cursor: pointer;
}
#upload-position-handler2 {
    text-align: center;
}

#upload-position-handler3 {
    text-align: center;
}

#upload-position-handler4 {
    text-align: center;
}

#starter-code-form3 {
    cursor: pointer;

}

#starter-code-form4 {
    cursor: pointer;

}
#upload-form-submit {
    align-items:center;
}

.secondary-title {
    background-color: lightgrey;
    color: black;
    font-family: Helvetica, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    font-size: 15px;
    height: 20px;
    text-align: center;

}