#wrapper {
    width: 300px;
    height: 280px;
    top: 25%;
    left: 35%;
    z-index: 300;
    position:relative;
    background-color: ghostwhite;
    display: none;
}

#starter-code-form1 {
    position: absolute;
    cursor: pointer;

}



#starter-code-form2 {
    position: absolute;
    cursor: pointer;
}


#upload-close {
    margin-right: 2%;
    float: right;
    color: red;

}


#starter-code-form3 {
    cursor: pointer;

}

#upload-form-submit {
    align-items:center;
}

.secondary-title {
    background-color: lightgrey;
    color: black;
    font-family: Helvetica, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    font-size: 15px;
    height: 20px;
    text-align: center;

}