/*
z-index
	  5, 6 panes
     10 regular boxes
	 15 the most recently dragged block:  .lastDragged
	 20 attachable box
     30 dragged block: .beingDragged
*/

/*
Style the enclosing panes
*/
#PrototypesPane {
	position: absolute;
  overflow: scroll;
	overflow: visible;
	top: 0%;
	padding: 5px; 

	/* it seems to be necessary for PrototypesPane to have a higher z than 
	   ProgrammingPane, so that its sub-divs will be on top of ProgrammingPane
	   while being dragged - the z of the sub-div has no effect */
	z-index: 6;
  width: calc(100% - 15px);
  height: calc(95% - 15px);

}

#ProgrammingPane {

	position: absolute;
	overflow: scroll; 
	z-index: 5;
	width: calc(100% - 6px);
	height: calc(95% - 6px);
}

*:focus {  /* no focus pocus - remove fuzzy border around focus'd parm */
	outline: 0;
}

body {
    xxfont:.8rem/1.5 sans-serif;
    xxmargin:1rem;
    -moz-user-select: none;
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;' 
}

.box {
    /* command box in the programming area*/
	border-radius: 5px;
	top:5%;
    position: absolute;
	padding: 2px;
	border: thin solid black;
	background-color: #CDF;
 	z-index: 10;
	display: flex;
	align-items: center;
	justify-contents: center;
}

.startBox {
	background-color: #CFC;
}

/* single line text field */
.parm, .parm2   { margin-left: 0.5em; 
	background-color: #EEF;
    display: inline-block;
    border: thin solid gray;
	/*height: 20px;*/
    /*overflow: hidden;*/
	overflow: auto;
	white-space: nowrap;
	/*min-height: 20px;*/
}
.parm:focus {
	background-color:#EFF;
}
.parm2:focus {
	background-color:#EFF;
}
.short  { width: 40px; min-width: 40px;}
.medium { width: 80px; min-width: 80px}
.long   { width: 180px; min-width: 180px}

.attachable {
    outline: red solid medium;
	z-index: 20;
}

/* this is a jQuery class */
/*
.ui-draggable-dragging {
	z-index: 30;
}
*/

.draghandle {
    cursor: move;
}

.beingDragged {
	z-index: 30;
}

.lastDragged {
	z-index: 15;
}

.bar {
    position: absolute;
    background-color: #AAF;
    width: 10px;
	height: 20px;
}

.target {
	/* outline: red dashed thin; */
	border-bottom-width: 1px;  /* more than 1 pix messes up alignment and outerHeight */
	border-bottom-color: green;
}

.errorTextHighlight {
	color: red;
}

.errorParm {
	/* not used for now */
}

.errorEmptyParm {
	background-color: #FAA;
}


/*----------NOT IN USE, BELOW--------------*/

.draggable1 {
    /* command prototypes */
    /*border: thin double blue;
    background-color: white;
    height: 23px; */
    padding: 2px;
    margin-top: 5px;
    margin-left: 4px;
    display: inline-block;
}
.draggable2 {
    /* actual command instances as part of a program */
    /*border: thin double red;
    background-color: white; */
    padding: 2px;
    height: 23px;
    display: inline-block;
}
.endelement {
    border: thin double red;
}
.ifelsebar {
    position: absolute;
    background-color: lightskyblue;
    width: 8px;
}
.command {
    xxbackground:#FDD;
}
.compileerror {
    border:thick solid red;
    background-color: #EFE;
}

.highlight {
	font-weight: bold;
}

./* no space between the three .class defs means only div's that have all three */
.draggable2.ui-widget-content.commentedOut {
	color: #888;
	background-color: #EEE;
}
.draggable2.ui-widget-content.commentedOut * {
	color: #888;
	background-color: #EEE;
}
.whilebar.commentedOut{
	color: #888;
	background-color: #EEE;
}
.ifelsebar.commentedOut{
	color: #888;
	background-color: #EEE;
}
	
.errorMessageBox {
	position: absolute;
    border: thin double purple;
    background-color: #FEF;
    padding: 2px;
    /*height: 21px;*/
    display: inline-block;
    z-index: 300;
}

/* overriding something from the jQuery theme, I think */	
.ui-menu {
	width: 250px;
}



